body {
font-family: 'Segoe UI', sans-serif;
background-color: #0f172a;
color: #e2e8f0;
}

/* NAVBAR */
.navbar {
background-color: #020617 !important;
}

/* HERO */
#hero h1 {
color: #38bdf8;
font-weight: bold;
}

/* BUTTON */
.btn-primary {
background: linear-gradient(45deg, #38bdf8, #6366f1);
border: none;
}

/* PROFILE IMAGE */
.profile-img {
max-width: 250px;
border: 4px solid #38bdf8;
box-shadow: 0 0 25px rgba(56, 189, 248, 0.5);
}

/* CARDS */
.card {
background-color: #1e293b;
border: none;
border-radius: 12px;
transition: 0.3s;
}

.card:hover {
transform: translateY(-5px);
}

/* PROGRESS */
.progress {
background-color: #1e293b;
}

.progress-bar {
background: linear-gradient(90deg, #38bdf8, #6366f1);
}

/* FOOTER */
footer {
background-color: #020617;
color: #94a3b8;
}
